<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="">
        <style>td, th {padding:5px;}</style>
</head>
<body  class="ui-widget ui-widget-content ui-corner-all ui-front">
         <div class="content">
                {% block content %}
                {% endblock %}
        </div>
<!-- create footer here -->
        </body>
</html>
